@import url('./main-layout.css');
@import url('./views/master-detail-view.css');
@import url('./views/person-form-view.css');
@import url('./views/address-form-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');